<!DOCTYPE html>
<html>
<head>
    <title>Employee System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navbar -->
    {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Employee System</a>
        <!-- Add your navbar content here -->
    </nav> {% endcomment %}

    <!-- Conditional block for messages -->
    {% if messages %}
    <div class="container">
        <div class="alert alert-info">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>